<p>tabla-inventario works!</p>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Id Column -->
    <ng-container matColumnDef="id_i">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id_i}} </td>
    </ng-container>
  
    <!-- Nombre Column -->
    <ng-container matColumnDef="name_i">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name_i}} </td>
    </ng-container>
  
    <!-- Cantidad Column -->
    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef> Cantidad </th>
      <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
    </ng-container>
  
    <!-- Prioridad Column -->
    <ng-container matColumnDef="prioridad">
      <th mat-header-cell *matHeaderCellDef> Regla de prioridad </th>
      <td mat-cell *matCellDef="let element"> {{element.prioridad}} </td>
    </ng-container>

    <!-- Empaque Column -->
    <ng-container matColumnDef="tipo_emp">
      <th mat-header-cell *matHeaderCellDef> Tipo de empaque </th>
      <td mat-cell *matCellDef="let element"> {{element.tipo_emp}} </td>
    </ng-container>

    <!-- Fecha de compra Column -->
    <ng-container matColumnDef="pdate">
      <th mat-header-cell *matHeaderCellDef> Fecha de compra </th>
      <td mat-cell *matCellDef="let element"> {{element.pdate}} </td>
    </ng-container>

    <!-- Fecha de expiración Column -->
    <ng-container matColumnDef="edate">
      <th mat-header-cell *matHeaderCellDef> Fecha de expiración </th>
      <td mat-cell *matCellDef="let element"> {{element.edate}} </td>
    </ng-container>

    <!-- Activo Column -->
    <ng-container matColumnDef="activo">
      <th mat-header-cell *matHeaderCellDef> Activo </th>
      <td mat-cell *matCellDef="let element"> {{element.activo}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
    