<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="side" opened="false">
    <mat-nav-list>
       <!-- Los enlaces ahora utilizan routerLink -->
      <!-- <a mat-list-item [routerLink]="['/']">Inicio</a> -->
      <!-- <a mat-list-item [routerLink]="['/inventario']">Inventario</a>
      <a mat-list-item [routerLink]="['/empaques']">Empaques</a>
      <a mat-list-item [routerLink]="['/prioridades']">Reglas de prioridad</a> -->
      <a mat-list-item routerLink="/" routerLinkActive="active" (click)="sidenav.close()">Inicio</a>
      <a mat-list-item routerLink="/inventario" routerLinkActive="active" (click)="sidenav.close()">Inventario</a>
      <a mat-list-item routerLink="/empaques" routerLinkActive="active" (click)="sidenav.close()">Empaques</a>
      <a mat-list-item routerLink="/prioridades" routerLinkActive="active" (click)="sidenav.close()">Prioridades</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Contenido principal -->
  <mat-sidenav-content>
    <mat-toolbar>
      <!-- Botón para abrir la sidenav -->
      <button mat-icon-button class="example-icon" (click)="sidenav.toggle()" aria-label="Toggle sidenav">
        <mat-icon>menu</mat-icon>
      </button>

      <span>Inventory for home</span>
      <span class="example-spacer"></span>

      <button mat-icon-button class="example-icon favorite-icon" aria-label="Favorite">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Share">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
