.example-container {
    width: 500px;
    height: 200px;
    border: 1px solid rgba(36, 14, 236, 0.596);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  